@import "variables";

body > #__next > div:first-of-type {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: $text-dark;
  background: $light;

  display: flex;
  flex-direction: column;
}
