@import "variables";

.landing {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-bottom: 10rem;
  color: $text-light;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;

  .landing__title {
    font-size: clamp(2rem, 10vw, 3rem);
  }

  .landing__signin {
    font-size: clamp(1rem, 7.5vw, 2rem);
    white-space: nowrap;
    background: $orange;
    color: $text-light;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: darken($orange, 5);
    }
  }
}
