@import "variables";

.wrapper {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: $text-light;
  background: $dark;

  display: flex;
  flex-direction: column;

  .wrapper__header {
    background: transparentize($dark, 0.6);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0.5rem 1.5rem;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    .header__logo {
      display: none;
      cursor: pointer;
    }

    .header__button {
      cursor: pointer;
      white-space: nowrap;
      background: $orange;
      color: $text-light;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      text-decoration: none;

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: darken($orange, 5);
      }
    }
  }
  .wrapper__hero {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("../assets/images/film_tiles.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .wrapper__main {
    z-index: 1;
    flex-grow: 1;

    display: grid;
  }
}

@media screen and (min-width: 278px) {
  .wrapper {
    .wrapper__header {
      grid-template-columns: max(10vw, 125px) 3fr auto;
      .header__logo {
        display: initial;
      }

      .header__button {
        grid-column: 3;
      }
    }
  }
}

@media screen and (min-width: 728px) {
  .wrapper {
    .wrapper__header {
      padding: 1rem 3rem;

      .header__button {
        padding: 0.75rem 2rem;
      }
    }
  }
}
