@import "variables";

.section {
  .section__title {
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  .section__movies {
    padding: 1rem;
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 728px) {
  .section {
    .section__movies {
      grid-template-columns: repeat(10, 1fr);
    }
  }
}
